<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectdesalauwba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.Layanan" />
        <activity android:name=".ui.Pengumuman" />
        <activity android:name=".ui.PotensiDesa" />
        <activity android:name=".ui.Berita" />
        <activity android:name=".ui.Galeri" />
        <activity android:name=".ui.ProgramDesa"></activity>
    </application>

</manifest>